.form{
    display: flex;
    justify-content:center;
    width: inherit;
}
.Contact_title
{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: large;

}

.ant-space-vertical{
    display: flex;
}

.contactForm{
    display: flex;
    justify-content: center;
    margin:5%;

}

.ant-space {
    display: inline-flex;
    flex-direction: column;
}