.App{
    display: flex;
    padding-right: 20px;
      
}

.slider{
    
    width:100%;
    background: teal;
}
.ant-layout-sider-children {
    width: fit-content;
    background-color: teal;
    height: 100%;
}

.ant-layout-sider{
    background: teal;
   
}
.ant-menu.ant-menu-dark{
    background: teal;
}